<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Прогноз погоды</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h1>Прогноз погоды для Ульяновска</h1>
</header>
<p class="a1">Карточки погоды</p>
<form th:action="@{/find}" th:object="${search}" method="post">
    <input type="text" th:field="*{text}">
    <button type="submit">Найти</button>
</form>
<div class="weather-container">
    <div class="weather-card" th:each="item : ${current}">
        <div>Temp</div>
        <div th:text="${item}"></div>
    </div>
</div>
<footer>
    <p>Автор работы: Антонов</p>
</footer>
</body>
</html>